@import "../../../less/breakpoint";

.textWindow {
	display: grid;
	grid-template:
		".   content ." auto /
		1fr 1000px 1fr;
	width: 100%;
	@media only screen and (max-width: @breakpoint-desktop) {
		grid-template:
			"content" auto /
			1fr;
	}
}

.textBlock {
	grid-area: content;
	display: flex;
	flex-direction: column;
	padding: 40px;
	box-sizing: border-box;

	&--1 {
		padding: 120px 40px 0;
	}
	&__heading {
		font-size: 28px;
		letter-spacing: 2px;
	}
	&__head {
		font-size: 45px;
		letter-spacing: 5px;
	}
	&__heading,
	&__head {
		margin: 0 auto 20px;
		text-align: center;
		text-transform: uppercase;
	}
	&__text {
		position: relative;
		padding-left: 24px;
		margin-bottom: 10px;
		font-size: 18px;
		text-align: justify;
		&:before {
			content: "";
			position: absolute;
			top: 8px;
			left: 0;
			width: 10px;
			height: 10px;
			background-color: var(--background-color-4);
			border-radius: 50%;
		}
	}
}
