.WhoAre {
	position: relative;
	&__Desc {
		height: 81px;
		width: 200px;
		text-align: center;
		position: absolute;
		background-color: transparent;
		font-size: 0;
		top: 106px;
		&--active {
			transition: 1000ms ease-out;
			font-size: 17px;
			background-color: white;
			opacity: 0.9;
		}
	}
}
@media only screen and (max-width: 630px) {
	.WhoAre {
		&__Desc {
			width: 200px;
		}
	}
}
@media only screen and (max-width: 550px) {
	.WhoAre {
		&__Desc {
			height: 60px;
			width: 160px;
			top: 86px;
		}
	}
}
