@import "./breakpoint";

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans Condensed", sans-serif;
	overflow-x: hidden;
	color: var(--text-color-4);
	background-color: var(--background-color-6);
	input,
	textarea,
	button {
		font-family: "Open Sans Condensed", sans-serif;
		font-size: 16px;
	}
}
