:root {
	--text-color-1: #ffffff;
	--text-color-2: #c4c4c4;
	--text-color-3: #666666;
	--text-color-4: #000000;
	--text-colo-inactive: #9e0000;

	--background-color-1: #ffffff;
	--background-color-2: #28b8ec;
	--background-color-3: #224bec;
	--background-color-4: #666666;

	--background-alpha-1: rgba(0, 0, 0, 0.5);
	--background-alpha-2: rgba(0, 0, 0, 0);
	--background-alpha-3: rgba(34, 75, 236, 0.8);

	--border-color-1: #c4c4c4;
	--border-color-2: #f5f5f5;
	--border-color-3: #9e0000;
	--border-color-4: #000000;

	--skeleton-color-1: #eeeeee;
	--skeleton-color-2: #bcbcbc;
}
