.Input {
	height: auto;
	margin: 20px auto;
	width: 100vw;
	text-align: center;
	&__Block {
		margin: 10px auto;
	}
	&__Note {
		height: 120px;
	}
}

input {
	text-align: center;
	width: 90vw;
	height: 50px;
	border: 1px solid grey;
	border-radius: 20px;
}
select,
option,
label,
button {
	font-family: "Open Sans Condensed", sans-serif;
	text-align: center;
	font-size: 16px;
	color: rgb(124, 122, 122);
	width: 90.5vw;
	height: 55px;
	border: 1px solid grey;
	border-radius: 20px;
}
